.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  color: white;
}

.App-main {
  max-width: 800px;
  margin: 2rem auto;
  text-align: left;
}

.App-result {
  margin-top: 2rem;
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
}

.App-link {
  color: #61dafb;
}
